/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 96% 4%);
}

/* Estilos para el encabezado */
.encabezado {
    background-color: #f8b6ea;
    color: rgb(17, 14, 14);
    padding: 20px;
    text-align: left;
}

/* Estilos para la sección "Acerca de mí" */
#acerca-de-mi,
#trabajos,
#estudios {
    background-color: #ffffff; 
    border: 1px solid #f078c2e5;    
    border-radius: 8px;        
    padding: 20px;            
    margin: 20px 0;  
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla */
    overflow: hidden; /* Evita el desbordamiento de contenido */
}

#titulo {
    color: #333;               
    font-size: 28px;           
    margin-bottom: 20px;       
    text-align: left;       
}

/* Estilos para la sección de trabajos */
#trabajos {
    border-color: #686666;    
}

#trabajos h2 {
    color: #5e1861;               
    font-size: 24px;           
    margin-bottom: 20px;       
}

#trabajos ul {
    list-style-type: disc;     
    padding-left: 20px;        
}

#trabajos li {
    margin-bottom: 10px;       
    font-size: 18px;           
    color: #222121;               
}

/* Estilos para la sección de estudios */
#estudios {
    border-color: #686666;    
}

#estudios h2 {
    color: #5e1861;               
    font-size: 24px;           
    margin-bottom: 20px;       
}

#estudios ul {
    list-style-type: disc;     
    padding-left: 20px;        
}

#estudios li {
    margin-bottom: 10px;       
    font-size: 18px;           
    color: #1f1e1e;               
}

/* Estilos para las imágenes */
.fotos img {
    max-width: 100%; /* Asegura que la imagen no sobrepase el contenedor */
    height: auto;    /* Mantiene la proporción de la imagen */
}

/* Estilos para el pie de página */
.contacto {
    background-color: #333;       
    color: white;                 
    text-align: center;           
    padding: 15px;                
    width: 100%;                  
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
    position: relative; /* Cambiado de fixed a relative */
}

/* Ajusta el margen inferior del contenido principal para evitar superposición */
main {
    margin-bottom: 60px; /* Ajusta este valor según la altura de tu footer */
}

/* Media Queries para diseño responsivo */
@media (max-width: 600px) {
    body {
        font-size: 14px; /* Reduce el tamaño del texto general en pantallas pequeñas */
    }
    
    #titulo {
        font-size: 20px; /* Ajusta el tamaño del título */
    }

    #trabajos h2, 
    #estudios h2 {
        font-size: 18px; /* Ajusta el tamaño del encabezado en trabajos y estudios */
    }
}